/* Step 4 */

/* Transboxes  */

#trans1Step4{
    top: 477.8px;
    left: 146.2px;
    width: 41px;
    height: 29px;
}

#trans2Step4{
    top: 149.6px;
    left: 497.1px;
    width: 128.4px;
    height: 63.4px;
}

#trans3Step4{
    top: 226.1px;
    left: 585.6px;
    width: 53px;
    height: 183.4px;
}

#trans5Step4{
    top: 477.8px;
    left: 146.2px;
    width: 41px;
    height: 29px;
}

#trans6Step4{
    top: 149.6px;
    left: 497.1px;
    width: 128.4px;
    height: 63.4px;
}

#trans7Step4{
    top: 149.6px;
    left: 497.1px;
    width: 128.4px;
    height: 63.4px;
}

#trans8Step4{
    top: 371.4px;
    left: 119.7px;
    width: 152.9px;
    height: 63.1px;
}

#trans9Step4{
    top: 386.6px;
    left: 220.2px;
    width: 91.6px;
    height: 44.6px;
}

#trans10Step4{
    top: 272.4px;
    left: 541.1px;
    width: 47.4px;
    height: 66.7px;
}

#trans11Step4{
    top: 382.3px;
    left: 202.1px;
    width: 104.1px;
    height: 44.6px;
}

#trans12Step4{
    top: 477.8px;
    left: 146.2px;
    width: 41px;
    height: 29px;
}

#trans13Step4{
    top: 160.6px;
    left: 588.5px;
    width: 143.4px;
    height: 66.9px;
}



/* Arrows  */

#arr1Step4{
    top: 477.2px;
    left: 100.2px;
}

#arr2Step4{
    top: 159.1px;
    left: 621.5px;
}

#arr3Step4{
    top: 275px;
    left: 639px;
}

#arr5Step4{
    top: 477.2px;
    left: 100.2px;
}

#arr6Step4{
    top: 159.1px;
    left: 621.5px;
}

#arr7Step4{
    top: 159.1px;
    left: 621.5px;
}

#arr8Step4{
    top: 391.4px;
    left: 80.7px;
}

#arr9Step4{
    top: 397.8px;
    left: 182.1px;
}

#arr10Step4{
    top: 289.6px;
    left: 573.2px;
}

#arr11Step4{
    top: 393.5px;
    left: 164.1px;
}

#arr12Step4{
    top: 477.2px;
    left: 100.2px;
}

#arr13Step4{
    top: 173.3px;
    left: 568.4px;
}