/* Step 6 */

/* Transboxes  */

#trans1Step6{
    width: 40px;
    top: 225px;
    left: 120px;
}

#trans2Step6{
    width: 40px;
    top: 230px;
    left: 190px;
}

#trans3Step6{
    width: 40px;
    top: 270px;
    left: 120px;
}

#trans4Step6{
    width: 40px;
    top: 270px;
    left: 190px;
}

#trans5Step6{
    width: 40px;
    top: 320px;
    left: 120px;
}

#trans6Step6{
    width: 40px;
    top: 320px;
    left: 190px;
}

#trans7Step6{
    top: 160px;
    left: 485px;
    width: 250px;
    height: 70px;
}

/* Arrows  */

#arr1Step6{
    top: 235px;
    left: 90px;
}

#arr2Step6{
    top: 235px;
    left: 150px;
}

#arr3Step6{
    top: 280px;
    left: 90px;
}

#arr4Step6{
    top: 280px;
    left: 150px;
}

#arr5Step6{
    top: 330px;
    left: 80px;
}

#arr6Step6{
    top: 330px;
    left: 150px;
}

#arr7Step6{
    top: 175px;
    left: 730px;
}