/* Step 3  */

/* Transboxes  */

#trans1Step3{
    width: 32px;
    height: 39.2px;
    top: 456.9px;
    left: 493.8px;
}

#trans2Step3{
    width: 152.9px;
    height: 63.1px;
    top: 371.4px;
    left: 119.7px;
}

/* Arrows  */

#arr1Step3{
    top: 460px;
    left: 525.8px;
}

#arr2Step3{
    top: 391px;
    left: 80.7px;
}

