/* Step2 */

/* ARROWS  */

#arr1Step2{
    top: 477px;
    left: 100.2px;
}

#arr2Step2{
    top: 175px;
    left: 564.1px;
}

#arr3Step2{
    top: 290px;
    left: 573.2px;
}

#arr4Step2{
    top: 398px;
    left: 293.8px;
}

#arr5Step2{
    top: 290px;
    left: 573.2px;
}

#arr6Step2{
    top: 398px;
    left: 190.4px;
}

/* TRANSBOXES  */

#trans1Step2{
    top: 474.8px;
    left: 146.2px;
    width: 41px;
    height: 29px;
}

#trans2Step2{
    top: 154.7px;
    left: 564.1px;
    width: 167.7px;
    height: 82px;
}

#trans3Step2{
    top: 272.4px;
    left: 541.1px;
    width: 47.4px;
    height: 66.7px;
}

#trans4Step2{
    top: 390px;
    left: 230.1px;
    width: 75.8px;
    height: 38.2px;
}

#trans5Step2{
    top: 272.4px;
    left: 541.1px;
    width: 47.4px;
    height: 66.7px;
}

#trans6Step2{
    top: 386.6px;
    left: 228.1px;
    width: 85.3px;
    height: 44.6px;
}
